<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Event Page</title>
  </head>
  <body>

    <header>

    </header>

    <main>
      <h1>THIS IS THE EVENT PAGE!!</h1>

    </main>

    <footer>

    </footer>
  </body>
</html>
