<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="/css/master.css">
    <title>Home Page</title>
  </head>
  <body>

    <header>
      <div class="">
        <div class="organization-thumb-nail"></div>
        <h4>Organization Name</h4>
      </div>

      <nav>
        <a href="#">About</a>
        <a href="#">Organizers</a>
        <a href="#">Trips</a>
        <a href="#">Sign In</a>
        <a href="#">Sign Up</a>
      </nav>
    </header>

    <main>
      <div id="find-your-next-trip">
        <div id="fynt-top">
          <h2>Find your next mission trip</h2>
          <div class="filler"></div>
        </div>

        <form id="fynt-bottom" action="" method="post">
          <input type="text" name="location" placeholder="Location">
          <input type="text" name="dates" placeholder="Dates">
          <input type="text" name="specialty" placeholder="Speciality">
          <input type="submit" name="" value="Search">

        </form>
      </div>

      <div id="choose-your-region">
        <h2>Choose your region</h2>
      </div>

      <div id="featured-trips">
        <h2>Featured Trips</h2>
      </div>
    </main>

    <footer>
      <h2>Footer</h2>
    </footer>
  </body>
</html>
