* {
  font-family: sans-serif;
  font-weight: lighter;
}

body {
  display: flex;
  flex-flow: column;
  margin: 0px;
  justify-content: center;
}

header {
  background-color: #3e455f;
  color: white;
  font-size: 12px;
  padding: 0px 40px 0px 40px;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
}

.user-info {
  display: flex;
  flex-flow: row nowrap;
}

header > nav {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-around;
  align-self: center;

}
header > nav > a {
  text-decoration: none;
  color: #8f9099;
  margin-right: 20px;
  padding: 2px;
}

header > nav > a:hover {
  border-bottom-style: solid;
  border-bottom-color: #08ffdf;
}

#find-your-next-trip {
  background-color: #3e455f;
  color: white;
  display: flex;
  flex-flow: column;
  padding: 0px 40px 40px 40px;
}

#fynt-top {
  display: flex;
  flex-flow: row nowrap;
  padding-top: 30px;

}

#fynt-top > .filler {
  width: 75%;
}

#fynt-top > h2 {
  width: 200px;
}

#fynt-bottom {
  display: flex;
  flex-flow: row nowrap;
  padding-top: 30px;
}

#fynt-bottom > input[type="text"]{
  background-color: #8f9099;
  color: white;
  border-style: none;
  padding: 10px;
  width: 28%;
  margin-right: 5px;
}

#fynt-bottom > input[type="submit"]{
  background-color: #08ffdf;
  color: white;
  border-style: none;
  padding: 8px 25px 8px 25px;
}

#fynt-bottom > input[type="text"]::placeholder{
  color: white;
}


#choose-your-region {
  padding: 0px 40px 0px 40px;
  margin-bottom: 60px;
  font-size: 11px;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
}

#choose-your-region > h2 {
  margin: 20px 0px 20px 0px;
}

#choose-your-region > #map {
  /*background-color: #ccffff;
  width: 500px;
  height: 200px;*/
  height: 500px;
}

#featured-trips {
  padding: 20px 40px 20px 40px;
  background: linear-gradient(-90deg, #29abd6, #29abd6, #08ffdf);
  color: white;
  text-align: center;
}

#ft-header {
  margin: 20px 0px 50px 0px;
  font-size: 14px;
}

#ft-header > p {
  font-size: 10px;
}

#featured-events {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-around;
  margin-bottom: 30px;
}

.single-event {
  width: 30%;
  background-color: #ccffff;
  color: black;
  margin: 0px 20px 0px 20px;
}

footer {
  padding: 0px 40px 0px 40px;

}
